.flex {
  display: flex;
}

.tests {
  width: 300px;
  margin-bottom: 5px;
}
.plus {
  color: rgba(192, 192, 192, 0.897);
  transition:  all 0.6s ease;
  margin-left: 5px;
  font-size: 22px;
}

.plus:hover {
  cursor: pointer;
  color: rgb(11, 238, 11)
}

.minus {
  color: rgba(192, 192, 192, 0.897);
  transition:  all 0.6s ease;
  margin-left: 5px;
  font-size: 22px;
}

.minus:hover {
  cursor: pointer;
  color: rgb(235, 48, 42)
}

.edit-button {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 7px;
}

.del-button {
  font-size: 14px;
  padding-top: 9px;
  padding-bottom: 7px;
}

/*
.del-button {
  height: 50px;
  margin: 7px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 15px;
}

.edit-button {
  height: 50px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 10px;
  margin: 7px;
  font-size: 15px;
} */
