<div style="margin-left: 4%;">
  <h1>{{discipline.title}}</h1>
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="rediretToResultPage()">
    Результаты студентов
  </button>
  <div class="flex">
    <h3>Тесты</h3>
    <div *ngIf="isLector">
      <div *ngIf="!createFormTest">
        <i
        class="bi bi-plus-circle-fill plus"
        (click)="openCreateFormTest()"></i>
      </div>
      <div *ngIf="createFormTest">
        <i
        class="bi bi-dash-circle-fill minus"
        (click)="closeCreateFormTest()"></i>
      </div>

    </div>
  </div>
  <div class="row-md-6" *ngIf="createFormTest" style="margin-left: 2%;">
    <div class="submit-form">
      <div class="form-group">
        <label for="group"><strong>Название теста:</strong></label>
          <input
            type="text"
            class="form-control"
            style="max-width: 25%; margin-right: 15px;"
            id="group"
            required
            [(ngModel)]="test.title"
            name="group"
          />
      </div>
      <div class="form-group">
        <label for="group"><strong>Дата начала теста:</strong></label>
          <input
            type="datetime-local"
            class="form-control"
            style="max-width: 25%; margin-right: 15px;"
            id="group"
            required
            [(ngModel)]="test.dateStart"
            name="group"
          />
      </div>
      <div class="form-group">
        <label for="group"><strong>Дата окончания теста:</strong></label>
          <input
            type="datetime-local"
            class="form-control"
            style="max-width: 25%; margin-right: 15px;"
            id="group"
            required
            [(ngModel)]="test.deadline"
            name="group"
          />
      </div>
      <button (click)="saveTest()" class="btn btn-success" style="margin-top: 10px; margin-bottom: 15px;">Создать</button>
    </div>
    <div class="alert alert-warning" *ngIf="isCreateTestFailed">
      Тест не создан!<br />{{ errorMessageTest }}
    </div>
</div>

  <div *ngFor="let test of tests">
    <div class="flex">
      <button
        type="button"
        class="btn btn-outline-primary tests"
        (click)="redirectToTestPage(test.id)">
        {{ test.title }}
      </button>
      <div *ngIf="isLector">
        <button
        type="button"
        class="bi bi-pencil btn-outline-primary edit-button"
        (click)="redirectToTestEdit(test.id)"
        >
        </button>

        <button
        type="button"
        class="bi bi-trash btn btn-outline-danger del-button"
        (click)="deleteTest(test.id)"
        >
        </button>
      </div>
    </div>

  </div>

  <div class="flex" style="margin-top: 15px;">
    <h3>Лабораторные работы</h3>
    <div *ngIf="isLector">
      <div *ngIf="!createFormLabWork">
        <i
        class="bi bi-plus-circle-fill plus"
        (click)="openCreateFormLabWork()"></i>
      </div>
      <div *ngIf="createFormLabWork">
        <i
        class="bi bi-dash-circle-fill minus"
        (click)="closeCreateFormLabWork()"></i>
      </div>

    </div>
  </div>
  <div class="row-md-6" *ngIf="createFormLabWork" style="margin-left: 2%;">
    <div class="submit-form">
      <div class="form-group">
        <label for="group"><strong>Название:</strong></label>
          <input
            type="text"
            class="form-control"
            style="max-width: 25%; margin-right: 15px;"
            id="group"
            required
            [(ngModel)]="labWork.title"
            name="group"
          />
      </div>
      <div class="form-group">
        <label for="group"><strong>Ссылка на методичку:</strong></label>
          <input
            type="text"
            class="form-control"
            style="max-width: 25%; margin-right: 15px;"
            id="group"
            required
            [(ngModel)]="labWork.manual"
            name="group"
          />
      </div>
      <div class="form-group">
        <label for="group"><strong>Дата окончания:</strong></label>
          <input
            type="datetime-local"
            class="form-control"
            style="max-width: 25%; margin-right: 15px;"
            id="group"
            required
            [(ngModel)]="labWork.deadline"
            name="group"
          />
      </div>
      <button (click)="saveLabWork()" class="btn btn-success" style="margin-top: 10px; margin-bottom: 15px;">Создать</button>
    </div>
    <div class="alert alert-warning" *ngIf="isCreateLabWorkFailed">
      Лабораторная работа не создана!<br />{{ errorMessageLabWork }}
    </div>
</div>

<div *ngFor="let labwork of labworks">
  <div class="flex">
    <button
      type="button"
      class="btn btn-outline-primary tests"
      (click)="redirectToLabWorkPage(labwork.id)">
      {{ labwork.title }}
    </button>
    <div *ngIf="isLector">
      <button
      type="button"
      class="bi bi-pencil btn-outline-primary edit-button"
      (click)="redirectToLabWorkEdit(labwork.id)"
      >
      </button>

      <button
      type="button"
      class="bi bi-trash btn btn-outline-danger del-button"
      (click)="deleteLabWork(labwork.id)"
      >
      </button>
    </div>
  </div>

</div>

  <div style="margin-top: 15px;">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="redirectToListDiscipline()">
      К дисципилинам
    </button>
  </div>
</div>
