<div style="margin-left: 4%;">
  <div class="submit-form">
    <div class="form-group">
      <label for="group"><strong>Название:</strong></label>
        <input
          type="text"
          class="form-control"
          style="max-width: 25%; margin-right: 15px;"
          id="group"
          required
          [(ngModel)]="labWork.title"
          name="group"
        />
    </div>
    <div class="form-group">
      <label for="group"><strong>Ссылка на методичку:</strong></label>
        <input
          type="text"
          class="form-control"
          style="max-width: 25%; margin-right: 15px;"
          id="group"
          required
          [(ngModel)]="labWork.manual"
          name="group"
        />
    </div>
    <div class="form-group">
      <label for="group"><strong>Дата окончания:</strong></label>
        <input
          type="datetime-local"
          class="form-control"
          style="max-width: 25%; margin-right: 15px;"
          id="group"
          required
          [(ngModel)]="labWork.deadline"
          name="group"
        />
    </div>
  </div>
  <div class="alert alert-warning" *ngIf="isUpdateFailed">
    Лабораторная работа не обновлена!<br />{{ errorMessage }}
  </div>
  <div style="display: flex; margin-top: 10px;">
    <button (click)="saveLabWork()" class="btn btn-success" style="margin-right: 5px;">Сохранить</button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="redirectToDiscipline()">
      Назад
    </button>
  </div>
</div>
