<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a style="margin-left: 4%;" href="#" class="navbar-brand">DistantLearning</a>
    <div class="navbar-nav mr-auto">
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/discipline" class="nav-link" routerLink="discipline">Дисциплины</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a href="/users" class="nav-link" routerLink="users">Пользователи</a>
        </li>
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">Вы: {{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Выйти</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="countener mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
