<div *ngIf="isAdmin">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="group"><strong>Название группы:</strong></label>
          <input
            type="text"
            class="form-control"
            id="group"
            required
            [(ngModel)]="group.name"
            name="group"
          />
        </div>  
        <button (click)="saveGroup()" class="btn btn-success">Создать</button>
      </div>
    </div>
    <div *ngIf="submitted">
      <h4>Group was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newGroup()">Add</button>
    </div>
</div>
  