<div class="list row" style="margin-left: 4%;">
  <div class="row-md-6" *ngIf="isAdmin">
    <a
      class="btn btn-outline-secondary"
      routerLink="addDiscipline">
      Создать дисциплину
    </a>
  </div>
  <div class="row-md-6">
    <h4 style="margin-top: 10px;">Дисциплины</h4>
    <div *ngFor="let discipline of disciplines">
      <ul class="list-group">
        <div class="col flex">
            <button
              type="button"
              class="btn btn-outline-primary list-discipline"
              (click)="redirectToDisciplinePage(discipline.id)"
            >
              {{ discipline.title }}
            </button>
            <div *ngIf="isLector">
              <button
              type="button"
              class="bi bi-pencil btn-outline-primary edit-button"
              (click)="redirectToDisciplineDetails(discipline.id)"
              >
              </button>
            </div>
            <div *ngIf="isAdmin">
              <button
              type="button"
              class="bi bi-trash btn btn-outline-danger del-button"
              (click)="deleteDiscipline(discipline.id)"
              >
              </button>
            </div>
        </div>
      </ul>
    </div>
  </div>
</div>
