<div>
    <div class="row-md-6">
        <button
          style="margin-left: 7px"
          class="btn btn-outline-secondary"
          (click) = "newuser()">
          Создать пользователя
        </button>
      </div>
    <div class="row-md-6">
        <h4 style="margin-left: 7px">Лекторы</h4>

        <div *ngFor="let lector of lectors">
            <ul class="list-group">
                <div class="col">
                    {{ lector.name }}
                </div>
              </ul>
        </div>
    </div>
    <div class="row-md-6">
        <h4 style="margin-left: 7px">Студенты</h4>

        <div *ngFor="let student of students">
            <ul class="list-group">
                <div class="col">
                    {{ student.name }}
                </div>
                <div class="col">
                    {{ student.groupName }}
                </div>
            </ul>
        </div>
    </div>
</div>
